.text-red {
  color: rgb(255, 0, 0)
}
.items-section{
  background: linear-gradient(to bottom, #000000 0%, #660000 25%, #980000 100%);
}
.carousel-cards {
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  padding: 0;
}

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div p {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideLeft p {
  display:none;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.hideRight p {
  display:none;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prev p {
  display:none;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.prevLeftSecond p {
  display:none;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.next p {
  display:none;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}
#carousel div.nextRightSecond p {
  display:none;
}
.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
/*<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://www.hrw.org/report/2017/09/05/we-do-unreasonable-things-here/torture-and-national-security-al-sisis-egypt">
                            <img src="assets/img/10items/hrw_we_do_unreasonable.jpg" alt="item_1" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://www.hrw.org/report/2017/09/05/we-do-unreasonable-things-here/torture-and-national-security-al-sisis-egypt"> Article
                                  </a>
                                </h4>
                                <p class="">
                                    Item description. © 2017 Human Rights Watch
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="items.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://www.patriaindipendente.it/wp-content/uploads/2020/12/Imagoeconomica_1358496-regeni-zaki-murales-1536x1024.jpg">
                            <img src="assets/img/10items/Imagoeconomica_1358496-regeni-zaki-murales-1536x1024.jpg" alt="item_2"/>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://www.patriaindipendente.it/wp-content/uploads/2020/12/Imagoeconomica_1358496-regeni-zaki-murales-1536x1024.jpg"> Murales Zaki Regeni
                                  </a>
                                </h4>
                                <p class="">
                                    Item description. © 2020 Imagoeconomica
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="items.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://www.raiplayradio.it/audio/2021/01/RADIO3--MONDO---LEgitto-dei-militari-a-un-anno-dallincarcerazione-di-Patrick-Zaki-d88e3cd8-ef3d-42c2-ad4c-16f6258792b9.html">
                            <img src="assets/img/10items/podcast_raiplay.jpg" alt="item_3"/>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://www.raiplayradio.it/audio/2021/01/RADIO3--MONDO---LEgitto-dei-militari-a-un-anno-dallincarcerazione-di-Patrick-Zaki-d88e3cd8-ef3d-42c2-ad4c-16f6258792b9.html">  Podcast Raiplay
                                  </a>
                                </h4>
                                <p class="">
                                    Item description. © RAI 2014
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="items.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="card">
                        <a class="img-card" href="https://open.spotify.com/album/7ucrabc1o2LIshDyEunqCJ?si=6v8NI7ffTDycQrieb0D3Rg">
                        <img src="assets/img/10items/For_Zaki_Spotify.jpg" alt="item_4"/>
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="https://open.spotify.com/album/7ucrabc1o2LIshDyEunqCJ?si=6v8NI7ffTDycQrieb0D3Rg"> Song "For Zaki"
                              </a>
                            </h4>
                            <p class="">
                                Item description. © 2021 MID SIDE Aps ℗ 2021 Controra Records <br>
                                <iframe src="https://open.spotify.com/embed/album/7ucrabc1o2LIshDyEunqCJ" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="items.html" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="card">
                        <a class="img-card" href="https://www.hrw.org/report/2016/09/28/we-are-tombs/abuses-egypts-scorpion-prison#6153">
                        <img src="assets/img/10items/we_are_in_tombs.jpg" alt="item_5"/>
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="https://www.hrw.org/report/2016/09/28/we-are-tombs/abuses-egypts-scorpion-prison#6153"> Reportage
                              </a>
                            </h4>
                            <p class="">
                                Item description. © 2016 Human Rights Watch
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="items.html" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                      <div class="card">
                          <a class="img-card" href="https://masteres.ugr.es/gemma/">
                          <img src="assets/img/10items/Gemma pagina intera.png" alt="item_6"/>
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a href="https://masteres.ugr.es/gemma/"> Website Master GEMMA </a>
                              </h4>
                              <p class="">
                                  Item description. © University of Granada 2021
                              </p>
                          </div>
                          <div class="card-read-more">
                              <a href="items.html" class="btn btn-link btn-block">
                                  Read More
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="card">
                          <a class="img-card" href="http://d-nb.info/gnd/1209529297">
                          <img src="assets/img/10items/egypt0916_prison-01.jpg" alt="item_7"/>
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a href="http://d-nb.info/gnd/1209529297"> Building Tora Prison
                                </a>
                              </h4>
                              <p class="">
                                  Item description. © 2016 DigitalGlobe – NextView
                              </p>
                          </div>
                          <div class="card-read-more">
                              <a href="items.html" class="btn btn-link btn-block">
                                  Read More
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="card">
                          <a class="img-card" href="https://www.europarl.europa.eu/doceo/document/TA-9-2020-0384_EN.html">
                          <img src="assets/img/10items/european_parliament.jpg" alt="item_8"/>
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a href="https://www.europarl.europa.eu/doceo/document/TA-9-2020-0384_EN.html">  European Parliament Resolution
                                </a>
                              </h4>
                              <p class="">
                                  Item description. © European Union, 2020 – Source: European Parliament
                              </p>
                          </div>
                          <div class="card-read-more">
                              <a href="items.html" class="btn btn-link btn-block">
                                  Read More
                              </a>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="card">
                        <a class="img-card" href="https://www.scholarsatrisk.org/wp-content/uploads/2020/03/SAR-Italy-for-P.G.Zaki-Petition-19.3.2020.pdf">
                        <img src="assets/img/10items/scholars_at_risk.jpg" alt="item_9"/>
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="https://www.scholarsatrisk.org/wp-content/uploads/2020/03/SAR-Italy-for-P.G.Zaki-Petition-19.3.2020.pdf"> Petition SAR
                              </a>
                            </h4>
                            <p class="">
                                Item description. © 2009 – 2021 Scholars at Risk Network
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="items.html" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="card">
                        <a class="img-card" href="https://www.channeldraw.org/2020/02/07/freedom-for-patrick-zaky/">
                        <img src="assets/img/10items/Patrick_Zaky.jpg" alt="item_10"/>
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="https://www.channeldraw.org/2020/02/07/freedom-for-patrick-zaky/"> Drawing
                              </a>
                            </h4>
                            <p class="">
                                Item description. © 2020 Gianluca Costantini
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="items.html" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>*/
